.about-body{
    max-width: 800px;
    margin: auto;
    text-align: justify;
    line-height: 35px;
    font-size: 19px;
    border-radius: 4px;
    padding: 20px;
}

.about-heading {
    text-align: center;
    font-family: 'Merriweather' , serif;
    font-weight: normal;
    padding: 30px;
    font-size: 35px;
}

.about-sub-heading {
    text-align: center;
    font-family: 'Merriweather' , serif;
    font-weight: normal;
    padding: 40px;
    font-size: 25px;
    
}

.about-link {
    color: blue;
    text-decoration: none;
}

.about-grid {
    display: flex;
    max-width: 1000px;
    height: 200px;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.about-grid-element {
    height: 150px;
    width: 150px;
     margin: 0px;
    text-align:center;
}

.about-grid-element i{
   font-size: 100px;
}

.about-grid-element p {
    padding: 20px;
    font-size: 20px;
}

.fa-react {
    color: rgb(0, 229, 255);
}

.fa-node-js {
    color: rgb(108, 194, 74);
}

.about-list {
    transform: translateY(-25px);
    width: 200px;
    margin: auto;
    list-style-type:  none;
    text-align: center;
    
}

.about-list li {
    padding: 5px;
}

.about-link-icon {
    text-align: center;
    display: block;
    font-size: 40px;
    padding-bottom: 20px;
    color: black;
}