.source-menu {
    max-width: 1100px;
    margin: auto;
    margin-top: 20px;

}

.source-grid{
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 25px;

    justify-items: center
}
.source-grid-element {
    color: black;
    text-decoration: none;
    height: 140px;
    width: 100px;
    transition: transform .2s;
}

.source-grid-element:hover {
    transform: translateY(-3px);
}

.source-grid-element img {
    height: 100px;
    width: 100px;
}

.source-grid-element p{
    text-align: center;
}

.source-search{
    margin-top: 30px;
}

.source-search input {
    width: 100%;
    border-radius: 5px;
    height: 34px;
    border: 2px solid rgb(200, 200, 200);
    outline: none;
    font-size: 20px;
    padding: 4px;
    
}

.source-search input:focus {
    border-color:  rgb(51, 153, 255);
}

.source-filter {
    margin-top: 30px;
    max-height: 500px;
    overflow-y: scroll;
    list-style-type: none;
    margin-bottom: 50px;
}

.filter-item {
    font-size: 22px;


    border-bottom: 1px solid rgb(200, 200, 200);
    cursor: pointer;
    background: rgb(250, 250, 250);
}

.filter-item:hover {
    border-color:  rgb(51, 153, 255);
}

.filter-link {
    display: block;
    padding: 15px;
    color: black;
    text-decoration: none;
    width: 100%;
    text-align: center;
}

@media only screen and (max-width: 850px) {
    .source-grid {
        grid-template-columns: repeat(4, 1fr);
        
    }
    
    .source-search  {
      width: 90%;
      margin: auto;
    }
}

@media only screen and (max-width: 650px) {
    .source-grid {
        grid-template-columns: repeat(3, 1fr);
        
    }
}

@media only screen and (max-width: 500px) {
    .source-grid {
        grid-template-columns: repeat(2, 1fr);
       
        
    }
    
    .source-search {
        margin-top: 60px;
    }
}

@media only screen and (max-width: 400px) {
    .source-grid {
        grid-template-columns: repeat(1, 1fr);
       
    }
    
    .source-grid-element {
        height: 200px;
        width: 160px;
}

.source-grid-element img {
        height: 160px;
        width: 160px;
}
    
}