$text-heading: #1c2d3d;
$text-body: #2c4760;

$primary: #3382dd;
$primary-darker: #265fa1;
$secondary: #00bfb2;
$white: #f9fdff;

$grey-1: rgb(245, 245, 245);
$grey-2: rgb(220, 220, 220);
$grey-3: rgb(200, 200, 200);
$grey-4: rgb(180, 180, 180);

$shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.27);
