* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-container {
    margin-top: 80px;
}

.page-heading {
    padding: 40px;
    font-weight: normal;
    font-size: 25px;
    text-align: center;

}

.sub-heading {
    padding: 10px;
    font-weight: normal;
    font-size: 20px;
    text-align: left;
}


.server-error {
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    border: 1px solid red;
    border-radius: 5px;
    max-width: 800px;
    margin: auto;
}

.server-error span {
    display: block;
    padding: 30px;
    font-size: 45px;
    color: red;
}

.article-results {
    font-size: 17px;
    padding: 10px;
    text-align: center;
    border-radius: 3px;
    max-width: 700px;
    margin: auto;
    margin-top: 90px;
    font-weight: normal;
    margin-bottom: 10px;
    color: rgb(100, 100, 100);
    
}



@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 850px) {
    .page-container h2 {
        text-align: center;
    }
}



@media only screen and (max-width: 500px) {
    .page-container h1{
        font-size: 20px;
    }
    
    .page-container h2 {
        font-size: 17px;
    }
    
    .heading {
        font-size: 12px;
        padding: 0px;
    }
    
    .article-results {
        font-size: 10px;
      
    }
}